*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration:none;
}
#menu-responsive{
    display:none;
}
#menu-responsive>p{
    font-size: 40px;
    color:white;
    font-family: 'Akronim', cursive;
    padding-left:10px;
}
#menu-responsive>i{
    font-size:30px;
    color:white;
    padding-right:10px;
}
#hamburguesa{
    display:block;
}
#x{
    display:none;
}
#slider-container{
    width:100%;
    top:0;
    height:10cm;
    z-index: 2;
}
#titulo{
    font-size:40px;
    font-family: 'Fredoka One', cursive;
    position:absolute;
    right:0;
    left:0;
    top:2cm;
    text-align:center;
    color:rgb(255, 255, 255);
}
.slider{
    width:100%;
    width:100%;
    height:10cm;
    background-size: 100% 100%;
}
.s1{
    background-image: url(imagenes/1.jpg);
    background-size: cover;
    display:block;
}
.s2{
    background-image: url(imagenes/2.jpg);
    display:none;
}
.s3{
    background-image: url(imagenes/3.jpg);
    display:none;
}
#redes{
    position:absolute;
    right:1.5cm;
    top:7.5cm;
    display:flex;
    flex-direction:row;
}
#redes>a>i{
    font-size: 30px;
    color:white;
    border:1px solid white;
    border-radius: 35px;
    padding:7px;
    margin:4px;
    transition: all 1s;
}
#redes>a>i:hover{
    cursor:pointer;
    transform: scale(1.8);
}
#menu{
    width:100%;
    margin-top:-0.5cm;
    position:absolute;
    z-index:1;
    animation:animacion1 3s;
}
@keyframes animacion1{
    0%{
        transform:translateX(-160px);
    }
    50%{
        transform:translateX(0px);
    }
}
#menu>ul{
    width:50%;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu>ul>a{
    text-decoration:none;
}
#menu>ul>a>li{
    width:4cm;
    height:0.8cm;
    padding:10px;
    background:rgb(9, 27, 66);
    border:1px solid rgb(33, 35, 153);
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    Font-size:15px;
    color:white;
}
#menu>ul>a>li:hover{
    background:rgb(63, 86, 214);
    cursor:pointer;
}
#panel1-container{
    width:100%;
    height:15cm;
    display:flex;
    flex-direction: row;
}
#panel1-izquierdo{
    width:50%;
    height: 100%;
    padding:20px;
    background-image: url(imagenes/4.jpg);
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#panel1-izquierdo>div>li{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    margin:15px;
}
#panel1-izquierdo>div>li>i{
    font-size:50px;
    padding-right:10px;
    color:cyan;
}
#panel1-izquierdo>div>li>p{
    font-size:20px;
    color:white;
    
}
#panel1-derecho{
    width:50%;
    background:linear-gradient(240deg, rgb(23, 23, 51) 0% 20%,rgb(7, 7, 22) 20% 80%,rgb(23, 23, 51) 80%);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
}
#panel1-derecho>li{
    color:rgb(39, 39, 92);
    font-size: 200px;
}
#panel1-derecho>li>i{
    font-size: 200px;
}
#panel1-derecho>li>i:nth-child(1){
    display: block;
}
#panel1-derecho>li>i:nth-child(2){
    display: none;
}
#panel1-derecho>li>i:nth-child(3){
    display: none;
}
#panel1-derecho>a{
    width:4cm;
    background:rgb(24, 24, 80);
    text-decoration:none;
    position:absolute;
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
    top:11cm;
    font-size:20px;
    padding:10px;
    border-radius: 5px;
    border:1px solid rgb(8, 3, 46);
    color:white;
    transition: all 1s;
}
#panel1-derecho>a:hover{
    background:rgb(53, 53, 153);
    cursor:pointer;
}
#flecha{
    position:fixed;
    text-decoration: none;
    border-radius: 45px;
    background:rgb(32, 32, 119);
    box-shadow:0px 0px 0px rgba(255, 255, 255, 0);
    right:1cm;
    bottom: 1cm;
}
#flecha>i{
    font-size:30px;
    padding:10px;
    color:white;
}
#flecha>i:hover{
    cursor:pointer;
}
.hide{
    color:rgb(39, 39, 92);
    transition: all 1s;
}
.sa{
    display:none;
}
.show{
    color:green;
    display:block;
    transition: all 1s;
}

@media all and (max-width:800px){
    /*MENU FIXED*/
    #menu-responsive{
        position:fixed;
        width:100%;
        top:0;
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        align-items:center;
        background:rgb(28, 28, 70);
        box-shadow:0px 0px 10px white;
        height:56px;
        z-index:10;
    }

    /*MENU*/
    #menu{
        width:80%;
        position:fixed;
        top:75px;
        left:-100%;
        height:calc(100vh - 10px);
        z-index:1;
        background:rgb(28, 28, 70);
        box-shadow:0px 10px 10px 0px white;
    }

    #menu>ul{
        width:100%;
        margin:0;
        margin-top:1cm;
        display: flex;
        flex-direction:column;
        overflow-y: scroll;
    }
    #menu>ul>a{
        width:100%;
        display:flex;
        justify-content: flex-start; 
    }

    #menu>ul>a>li{
        width:100%;
        height:100%;
        padding:10px;
        padding-left:1cm;
        background:rgba(255, 255, 255, 0);
        border:0px solid rgba(0, 0, 255, 0);
        border-radius: 0px;
        Font-size:19px;
        justify-content: flex-start;
        align-items: flex-start;
        text-align:left;
    }
    #redes{
        top:8.5cm;
    }
    #panel1-container{
        height:100%;
        flex-direction: column;
    }
    #panel1-container>ul{
        width:100%;
        padding-top:1cm;
    }
    #panel1-izquierdo{
        padding-bottom:1cm;
    }
    #panel1-derecho{
        padding-bottom:2cm;
    }
    #panel1-derecho>a{
        position:relative;
        top:1cm;
    }
}
@media all and(max-width:300px){
    
    #panel1-derecho>li{
        color:rgb(39, 39, 92);
        font-size: 50px;
    }
    #panel1-derecho>li>i{
        height:10px;
        width:10px;
    }
}


